html{
	font-family: sans-serif; /*Vi velger hvilken skrifttype vi skal bruke*/
}
body {
	font-size: 25px; /* Her bestemmer vi størrelsen på font/skriften*/
	margin: 0; /* Her setter vi størrelsen på ytre marg på boksen lik 0*/
	padding: 0; /*Her setter vi størrelsen på indre marg på boksen lik 0*/
	background-repeat: no-repeat; /*Vi setter dette slik at bakgrunnen ikke blir gjentatt flere 
	ganger og at vi unngår at bakgrunnen er overfyllt med firkanta bokser*/
	background-color: black; /*Setter fargen på bakgrunnen til svart*/
	background-image: url("Kuler.png"); /*Setter inn et bakgrunnsbilde, bruker url for å henvise 
	til bildet som skal brukes. Husk bildet må være i samme mappe og ha riktig filtype*/
}

header {
	margin: 15px; /*Plasserer boksen og bestemmer avstanden fra veggene til siden*/
	margin-left: 5px; /*Her fokuserer vi på venstre siden av boksen*/
}

nav {
	margin: 0;
	padding: 0;
	overflow: hidden; /*Får vekk den effekten av at hoveren går utenfor kantene på knappen på menyen*/
	background-color: rgba(0, 0, 0, 0.3); /* her minker vi opacity/synligheten til navigasjonsmenyen slik at den blender mer med bakgrunnen*/
	position: sticky; /*Gjør slik at menyen følger etter oss idet vi scroller nedover siden vår*/
	top: 0;
}

nav a {
	float: left; /* Dette formaterer bildet. Skriften blir plasser til venstre innenfor menyen sin*/
	padding: 8px;
	text-decoration: none; /* her gjør vi slik at teksten ikke har noen dekorasjoner som vi ikke ønsker*/
	color: white;
	border-right: 1px solid rgba(255, 255, 255, 0.8); /*Setter stil, bredde og fargen på grensen på boksen*/
	font-family: Verdana;
	font-size: 22; /*Velger størrelsen på fontet*/
}

a:last-child {
	border-right: none; /*Fjerner hvit border til helt til høyre på nav linja*/
}

nav a:hover {
	background-color: rgba(0, 0, 0, 0.5);  /*Fargen på hover*/
}

.active {
	background-color: #F282FF; /*Viser hvilken side du er på*/
	color: white;
}

article {
	padding: 10px;
	display: flex;
	flex-direction: row; /*Vi tenkte å bruke flex, men den funker bare hvis vi har flere avsnitt*/
	flex-wrap: wrap;
	color: white;
	text-shadow: 1px 1px 1px black; /*Skyggen på teksten i article*/
}

article h1 {
	font-size: 35px;
	color: #B96BE8;
	text-shadow: 1px 1px white;
}

article p {
	width: 500px; /*Bredden på innholdet i artikkelen*/
}

section {
	margin: 12px;
}

figure {
	margin: 0; /*Ingen margin på figuren*/
	padding: 0; /*Ingen padding på figuren*/
}

footer {
	margin-top: 20px;
	clear: both; /*Plasserer footer nederst på siden*/
	font-size: 13px;
    color: #EDEDED;
}

/*Resten er bare "class" ig "id"*/

.loddrett {
	font-size: 30px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.større {
	font-size: 30px;
}

#høyre {
	float: right;
}

#artikkel {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 1px black;
}

#animate {
	margin: 25px;
	margin-left: 85px;
}

#trump {
	margin: 25px;
	margin-top: 130px;
	margin-left: 65px;
	border: 5px ridge white;
	border-radius: 5px;
}

#norskdata {
	margin: 25px;
	margin-top: 160px;
	border: 5px ridge white;
	border-radius: 5px;
}

#engelskdata {
	margin: 25px;
	margin-top: 160px;
	border: 5px ridge white;
	border-radius: 5px;
}

#tidslinje {
	margin: 25px;
	margin-top: 150px;
	margin-left: 30px;
	border: 5px ridge white;
	border-radius: 5px;
}