body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: #B96BE8;
  position: sticky;
  font-size: 25px;
}

nav a {
  display: inline;
  color: white;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #F282FF;
}

.active {
  background-color: #A675FF;
}