html{
	font-family: sans-serif;
}
body {
	font-size: 25px;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-color: black;
	background-image: url("Kuler.png");
}

header {
	margin: 15px;
	margin-left: 5px;
}

nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	position: sticky;
	top: 0;
}

nav a {
	float: left;
	padding: 8px;
	text-decoration: none;
	color: #2e2e2e;
}

nav a:hover {
	background-color: #f0f0f0;
}

.active {
	background-color: #F282FF;
	color: white;
}

#english {
	float: right;
}

article {
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: white;
	text-shadow: 1px 1px 1px black;
}

article h1 {
	font-size: 35px;
	color: #B96BE8;
}

article p {
	width: 500px;
}

section, aside {
	margin: 15px;
}

aside {
	margin-left: 50px;
}

figure {
	margin: 0;
	padding: 0;
}

figure img {
	float: right;
	margin-left: 15px;
	border: 1px ridge white;
}

figure p {
	width: 555px;
}

#ball {
	float: right;
	margin: 35px;
	border: 5px ridge white
}

footer {
	clear: both;
	font-size: 20px;
    color: white;
	text-shadow: 1px 1px 1px black;
}