html{
	font-family: sans-serif; /*Vi velger hvilken skrifttype vi skal bruke*/
}
body {
	font-size: 25px; /* Her bestemmer vi størrelsen på font/skriften*/
	margin: 0; /* Her setter vi størrelsen på ytre marg på boksen lik 0*/
	padding: 0; /*Her setter vi størrelsen på indre marg på boksen lik 0*/
	background-repeat: no-repeat;
	background-color: black;
	background-image: url("Kuler.png");
}

header {
	margin: 15px;
	margin-left: 5px;
}

nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	position: sticky;
	top: 0;
}

nav a {
	float: left;
	padding: 8px;
	text-decoration: none;
	color: #2e2e2e;
}

nav a:hover {
	background-color: #f0f0f0;
}

.active {
	background-color: #F282FF;
	color: white;
}

#english {
	float: right;
}

article {
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: white;
	text-shadow: 1px 1px 1px black;
}

article h1 {
	font-size: 35px;
	color: #B96BE8;
	text-shadow: 1px 1px white;
}

article p {
	width: 500px;
}

section {
	margin: 12px;
}

.loddrett {
	font-size: 30px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.større {
	font-size: 35px;
}

figure {
	margin: 0;
	padding: 0;
}

#artikkel {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 1px black;
}

#ball {
	margin: 25px;
	margin-top: 100px;
	margin-left: 80px;
	border: 5px ridge white;
	border-radius: 5px;
}

#trump {
	margin: 25px;
	margin-top: 130px;
	margin-left: 65px;
	border: 5px ridge white;
	border-radius: 5px;
}

#norskdata {
	margin: 25px;
	margin-top: 160px;
	border: 5px ridge white;
	border-radius: 5px;
}

#engelskdata {
	margin: 25px;
	margin-top: 160px;
	border: 5px ridge white;
	border-radius: 5px;
}

#tidslinje {
	margin: 25px;
	margin-top: 150px;
	margin-left: 30px;
	border: 5px ridge white;
	border-radius: 5px;
}

footer {
	clear: both;
	font-size: 20px;
    color: white;
	text-shadow: 1px 1px 1px black;
}

h1 {
	
}