body {
  font-size: 25px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa;
}

article {
	padding: 10px;
}

article h1 {
	font-size: 35px;
	color: #B96BE8;
}

article p {
	width: 500px;
}

span {
	font-family: Arial;
	font-size: 35px;
	color: #B96BE8;
}

header {
	padding: 10px;
}

nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fafafa;
	border: 1px solid #e7e7e7;
	border-left: 0;
	border-right: 0;
	position: sticky;
	top: 0;
}

nav a {
	float: left;
	padding: 8px;
	text-decoration: none;
	color: #6b6b6b;
}

nav a:hover {
	background-color: #ddd;
}

.active {
	background-color: #F282FF;
	color: white;
}

#english {
	float: right;
}