.innpakning{
	width: 800px; /*innpakningens bredde */
	background-color: #404040; /*mørk gråfarge*/
	margin: auto; /* like stor høyre- og venstremarg*/
	display: flex; /*angir at vi vil bruke flexboks*/
	flex-direction: column; /*plasserer bokser i en kolonne*/
}

.topptekst {
	font-weight:bold; /*fet skrift*/
	font-size: 36px; /*setter størrelsen på skriften/fonten */
	font-family:"Century Gothic", Arial, sans-serif; /*setter skrifttypen til en typeuten "føtter (seriffer)"*/
	text-align:center; /*midtstiller teksten*/
	height:120px; /*overskrift-/toppteksthøyde */
	background-color: #40BBDD; /*blågrønn farge*/
	padding: 5px; /* avstand mellom bokskant og innhold*/
	margin: auto; /* luft rundt overskrift-/topptekstboks*/
}

.meny {
	
	background-color: #f04605; /*oransje farge*/
	padding: 5px; /*avstand mellom bokskant og innhold*/
	margin: 5px; /* luft rundt menyboks*/
	font-weight: bold;
	font-family:"Century Gothic", Arial, sans-serif;
}
<<<<<<< Updated upstream
.innhold {
		background-color: #e9eae9; /*lys grå farge*/
		padding: 30px; /*avstand mellom bokskant og innhold*/
		margin: 5px; /* luft rundt menyboks*/
		height: 150px;/*størrelsen på innholdsboksen*/
		text-align: left;
		font-family:"Century Gothic", Arial, sans-serif;
		font-size: 12px;
=======

nav a:hover {
  background-color: #F28211;
>>>>>>> Stashed changes
}
.innhold2 {
		background-color: #e9eae9; /*lys grå farge*/
		padding: 8px; /*avstand mellom bokskant og innhold*/
		margin: 5px; /* luft rundt menyboks*/
		height: 150px;/*størrelsen på innholdsboksen*/
		/*text-align: left;*/
		/*font-family:"Century Gothic", Arial, sans-serif;*/
		/*font-size: 12px;*/
		
}	


<<<<<<< Updated upstream
ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}
ul li {
	display:inline; 
}
ul a {
	padding: 10px 30px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
ul a:hover {
	background-color: #eeeeee;
=======
.active {
  background-color: #F282FF;
>>>>>>> Stashed changes
}